@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
$widthSite: 1140px;
$backgroundDarkGray: #222222;
$backgroundLightPink: #F1E4E6;
$fontPink: #F16D7F;
$fontLato: "Lato", sans-serif;
$backgroundCard: #211616;
$backgroundProductCard: #F8F8F8;
$fontLightGray: #5D5D5D;

// Thin 100
// Light 300
// Regular 400
// Bold 700
// Black 900