@import "vars";

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body {
    scroll-behavior: smooth;
    font-family: $fontLato;
}

img {
    display: block;
    max-width: 100%;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
}

.header {
    background-color: $backgroundDarkGray;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px;

    &__left {
        display: flex;
        align-items: center;
        gap: 40px;
    }

    &__left-loop {
        background: none;
        border: hidden;
        cursor: pointer;
    }

    &__right {
        display: flex;
        align-items: center;
        gap: 30px;
    }

    &__right-button {
        background: none;
        border: hidden;
        cursor: pointer;
    }
}

.main-content {
    margin-bottom: 65px;
    background-color: $backgroundLightPink;

    &__area {
        display: flex;
        align-items: center;
        gap: 255px;
    }

    &__title {
        display: flex;
        align-items: center;
        gap: 28px;
    }

    &__title-text {
        display: flex;
        flex-direction: column;
    }

    &__title-heading {
        font-size: 48px;
        font-weight: 900;
    }

    &__title-subheading {
        font-size: 32px;
        font-weight: 700;
    }

    &__title-pinkText {
        color: $fontPink;
        font-size: 32px;
        font-weight: 700;
    }
}

.area-card {
    margin-bottom: 96px;
}

.card-content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;

    &__card:nth-child(4) {
        grid-column: 1 / -1;
    }

    &__women {
        background-image: url(./img/features/woman.png);
        width: 360px;
        height: 260px;
    }

    &__men {
        background-image: url(./img/features/man.png);
        width: 360px;
        height: 260px;
    }

    &__kids {
        background-image: url(./img/features/kid.png);
        width: 360px;
        height: 260px;
    }

    &__accesories {
        background-image: url(./img/features/accesories.png);
        width: 1140px;
        height: 180px;
    }

    &__shadow {
        background-color: rgba(33, 22, 22, 0.7);
        width: 100%;
        height: 100%;
        position: relative;
    }

    &__title {
        display: flex;
        align-items: center;
        text-align: center;
        flex-direction: column;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    &__subheading {
        color: #fff;
        font-size: 16px;
        font-weight: 400;
    }

    &__heading {
        color: $fontPink;
        font-size: 24px;
        font-weight: 700;
    }
}

.product {
    margin-bottom: 95px;
}

.product-title {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 6px;
    margin-bottom: 48px;

    &__heading {
        font-size: 30px;
        font-weight: 400;
    }

    &__text {
        font-size: 14px;
        font-weight: 400;
    }
}

.product-content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 30px;
    margin-bottom: 48px;

    &__card {
        background-color: $backgroundProductCard;
    }

    &__title {
        padding: 25px 28px 20px 18px;
    }

    &__heading {
        font-size: 13px;
        font-weight: 400;
        margin-bottom: 13px;
    }

    &__text {
        font-size: 14px;
        font-weight: 300;
        color: $fontLightGray;
        margin-bottom: 18px;
    }

    &__price {
        font-size: 16px;
        font-weight: 400;
        color: $fontPink;
    }
}

.product-button {
    display: flex;
    align-items: center;
    justify-content: center;

    &__content {
        border: 1px solid $fontPink;
        color: $fontPink;
        padding: 15px 39px;
        background-color: #fff;
        font-size: 16px;
        font-weight: 400;
    }
}

.area-features {
    background-color: $backgroundDarkGray;
}

.features {
    padding: 104px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    color: #fff;

    &__card {
        gap: 28px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        text-align: center;
    }

    &__heading {
        font-size: 20px;
        font-weight: 400;
        margin-bottom: 16px;
    }

    &__text {
        font-size: 14px;
        font-weight: 300;
        color: #fbfbfb;
        opacity: 0.7;
    }
}

.area-form {
    position: relative;
    z-index: 1;
    overflow: hidden;
}

.area-form::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(./img/subscribe/background.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.7;
    z-index: -1;
}

.form {
    display: flex;
    justify-content: space-between;
    gap: 327px;
}

.form-left {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding-top: 87px;
    padding-bottom: 153px;

    &__img {
        width: 96px;
        display: block;
        margin: 0 auto;
    }

    &__text {
        display: flex;
        width: 360px;
        text-align: center;
        font-size: 20px;
        font-weight: 400;
        font-style: italic;
    }
}

.form-right {
    padding-top: 150px;
    padding-bottom: 156px;

    &__title {
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        justify-content: center;
    }

    &__heading {
        font-size: 24px;
        font-weight: 900;
        line-height: 167%;
    }

    &__subheading {
        font-size: 18px;
        font-weight: 400;
        line-height: 167%;
        margin-bottom: 25px;
    }

    &__registration {
        display: flex;
        border-radius: 999px;
        overflow: hidden;
        width: fit-content;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    }

    &__email {
        border: none;
        padding: 16px 60px 16px 22px;
        background-color: #e1e1e1;
        outline: none;
        font-size: 14px;
        font-weight: 400;
    }

    &__button {
        background-color: $fontPink;
        font-size: 14px;
        font-weight: 400;
        padding: 16px 20px;
        color: #fff;
        border: none;
        cursor: pointer;
    }
}

.footer {
    background-color: $backgroundDarkGray;
}

.footer-content {
    padding: 24px;
    align-items: center;
    display: flex;
    justify-content: space-between;

    &__left {
        display: flex;
        gap: 8px;
        color: #fff;
    }

    &__left h3 {
        font-size: 16px;
        font-weight: 400;
    }

    &__right {
        display: flex;
        gap: 8px;
    }
}
